---
WarningsAsErrors: "*"
Checks: >
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type

CheckOptions:
  readability-identifier-length.IgnoredParameterNames: 'ec|to'
  readability-identifier-length.IgnoredVariableNames: 'ec|to'
