---
Language: Cpp
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^(<tmp)'
    Priority: 1
  - Regex: '^(<gtest)'
    Priority: 2
  - Regex: ".*"
    Priority: 3

InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 4
