---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^(<tmp)'
    CaseSensitive: true
    Priority: 1
  - Regex: ".*"
    CaseSensitive: true
    Priority: 2

IndentWidth: 4
InsertBraces: true
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: Never
PointerAlignment: Left
QualifierAlignment: Left
SpacesBeforeTrailingComments: 4
