---
WarningsAsErrors: '*'
HeaderFilterRegex: 'tmp/include/tmp/'
Checks: >
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -*-noexcept-move-*,
  -*-use-after-move,
  -bugprone-empty-catch,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -misc-const-correctness,
  -misc-include-cleaner,
  -modernize-deprecated-headers,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-redundant-declaration

CheckOptions:
  readability-identifier-length.IgnoredParameterNames: 'ec|sb'
  readability-identifier-length.IgnoredVariableNames: 'ec|sb'
