name: Lint

on: pull_request

permissions:
  contents: read

jobs:
  format:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install clang-format
        run: brew install clang-format

      - name: Install cmake-format
        run: pip install cmake-format

      - name: Run clang-format
        run: |
          (find include/tmp -type f; find src tests -name '*.cpp') \
            | xargs clang-format -i -style=file --verbose
          git diff --color --exit-code

      - name: Run cmake-format
        run: |
          (find cmake -name '*.cmake'; find . tests -maxdepth 1 -name 'CMakeLists.txt') \
            | xargs clang-format -i -style=file --verbose
          git diff --color --exit-code
