---
name: lint
"on":
  push:
    branches: [main,ci]
  pull_request:

jobs:
  yamllint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run yamllint
        run: yamllint -f github .github/workflows/ .clang-*

  clang-tidy:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run clang-tidy
        run: |
          cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -B build
          clang-tidy --quiet -p build --use-color src/*.?pp tests/*.?pp

  clang-format:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run clang-format
        run: |
          clang-format -i include/tmp/* src/*.?pp tests/*.?pp
          git diff --color --exit-code
