---
name: tests
"on":
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-24.04
          - macos-12
          - macos-14
          - windows-2019
          - windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B ${{ vars.BUILD_DIR }}
      - name: Build tests
        run: cmake --build ${{ vars.BUILD_DIR }}
      - name: Run tests
        run: ctest --output-on-failure --test-dir ${{ vars.BUILD_DIR }}

  test-modules:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Configure CMake (LLVM Clang)
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          sudo apt install ninja-build
          cmake -B ${{ vars.BUILD_DIR }} 
                -DTMP_USE_MODULES:BOOL=ON
                -DCMAKE_CXX_COMPILER=clang++-17
                -G Ninja
      - name: Configure CMake (MSVC)
        if: ${{ matrix.os == 'windows-2022' }}
        run:  cmake -B ${{ vars.BUILD_DIR }} -DTMP_USE_MODULES:BOOL=ON
      - name: Build tests
        run: cmake --build ${{ vars.BUILD_DIR }}
      - name: Run tests
        run: ctest --output-on-failure --test-dir ${{ vars.BUILD_DIR }}
