---
name: tests
"on":
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-24.04
          - macos-13
          - macos-15
          - windows-2019
          - windows-2022
    steps:
      - name: Set up `tmpfs` (if supported)
        run: sudo mount tmpfs -t tmpfs -o size=100m /tmp
        if: runner.os == 'Linux'
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B build -DCMAKE_COMPILE_WARNING_AS_ERROR=ON
      - name: Build tests
        run: cmake --build build
      - name: Run tests
        run: ctest --output-on-failure --test-dir build
  test-meson:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
    steps:
      - name: Set up `tmpfs` (if supported)
        run: sudo mount tmpfs -t tmpfs -o size=100m /tmp
      - name: Install Meson
        run: sudo apt-get install meson
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Meson
        run: meson setup build
      - name: Run tests
        run: meson test -C build
