---
name: tests
"on":
  push:
    branches: [main, 113-move-behaviour]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-24.04
          - macos-12
          - macos-14
          - windows-2019
          - windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B build -DCMAKE_COMPILE_WARNING_AS_ERROR=ON
      - name: Build tests
        run: cmake --build build
      - run: df -h
        if: ${{ matrix.os == 'ubuntu-20.04' }}
      - name: Run tests
        run: ctest --output-on-failure --test-dir build
