---
name: tests
"on":
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-24.04
          - macos-12
          - macos-14
          - windows-2019
          - windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B $BUILD_DIR
      - name: Build tests
        run: cmake --build $BUILD_DIR
      - name: Run tests
        run: ctest --output-on-failure --test-dir $BUILD_DIR
