---
name: tests
"on":
  push:
    branches: [main, installation]
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-24.04
          - macos-12
          - macos-14
          - windows-2019
          - windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure CMake
        run: cmake -B ${{ vars.BUILD_DIR }}
      - name: Build tests
        run: cmake --build ${{ vars.BUILD_DIR }}
      - name: Run tests
        run: ctest --output-on-failure --test-dir ${{ vars.BUILD_DIR }}

      - name: Run installation
        run: cmake --install ${{ vars.BUILD_DIR }}

      - name: Test installation
        run: |
          cd $(mktemp -d)
          cat <<EOS > main.cpp
            #include <iostream>
            #include <tmp/file>
            int main() {
              std::cout << tmp::file().release().native();
            }
          EOS
          cat <<EOS > CMakeLists.txt
            cmake_minimum_required(VERSION 3.12)
            project(install-test LANGUAGES CXX)
            find_package(tmp REQUIRED)
            add_executable(install-test main.cpp)
            target_link_libraries(install-test tmp::tmp)
          EOS
          cmake -B .
          cmake --build .
          test -f $(./install-test)
